<div class="container">
  <p style="color: green"><%= notice %></p>
  <div class="card text-bg-dark border-secondary">
    <div class="card-body"></div>
      <%= render @tweet %>
      <div class=" container d-flex justify-content-start mt-2 mb-1">
        <p>
          <%= link_to "Editar este Tweet", edit_tweet_path(@tweet), class: "btn btn-outline-success"%>
        </p>
         <%= button_to "Eliminar este Tweet", @tweet, method: :delete, class: "btn btn-outline-danger" %>
      </div>  
    </div>
  </div>
  
  
  <div class="container">
    <%= link_to "Volver al Inicio", tweets_path, class: "btn btn-primary" %>
  </div>

</div>


